@using System.Security.Principal
@using Marinel_ui.Data.Enums



@{

}

<ul class="navbar-nav flex-grow-1">
    @if (User.Identity.IsAuthenticated)
    {
        var roleClaimType = User.Claims.Where(c => c.Type == "jobTitle").FirstOrDefault();
        var roleClaim = roleClaimType != null ? roleClaimType.Value : "";

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/ClassFees">Class Fees</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/FeedingChart">Feeding Chart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/BookChart">Book Chart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Uniform">Uniform</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Library">Library</a>
        </li>

        if (roleClaim == RoleType.SuperUser.ToString())
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Settings">Settings</a>
            </li>
        }
    }
</ul>