@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>There are @Model.Students.Count students</p>
    @*
        <p>Env: @Model.Env</p>

    *@
</div>
