@page "{handler?}"
@model LibraryPageModel
@{
    ViewData["Title"] = "Library";
}
<h1>@ViewData["Title"]</h1>

<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-books-tab" data-bs-toggle="pill" data-bs-target="#v-pills-books" type="button" role="tab" aria-controls="v-pills-books" aria-selected="false">
            Books
        </button>
        <button class="nav-link" id="v-pills-rentals-tab" data-bs-toggle="pill" data-bs-target="#v-pills-rentals" type="button" role="tab" aria-controls="v-pills-rentals" aria-selected="false">
            Rentals
        </button>
    </div>

    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-books" role="tabpanel" aria-labelledby="v-pills-books-tab">
            <partial name="LibraryBook/_LibraryBookList" model="@Model" />
        </div>
        <div class="tab-pane fade" id="v-pills-rentals" role="tabpanel" aria-labelledby="v-pills-rentals-tab">
            Rentals
        </div>
    </div>
</div>

@section scripts {

<script>
    $(function () {

        var todaysDate = new Date().toISOString().split('T')[0];
        $('#new-book-rental-date').val(todaysDate);

        $.fn.getStudents = function (classId) {

            return $.ajax({
                type: "GET",
                url: "/Library/StudentsByClassId",
                data: { classId: classId }
            });
        }

        // Library Book

        $('#newLibraryBookBtn').click(function () {
            $('#new-library-book-modal').modal('show');

        });

        $('#new-library-book-submit-btn').click(function () {

            var titleFieldVal = $('#library-book-title').val();
            var authorFieldVal = $('#library-book-author').val();
            var quantityFieldVal = $('#library-book-quantity').val();


            if (titleFieldVal.length > 0 && authorFieldVal.length > 0 && quantityFieldVal.length > 0) {
                $('#new-library-book-form').submit();
            } else {
                alert('Error: Must Enter all fields');
            }
        });

        $('.edit-library-book-btn').click(function () {

            var selectedLibraryBookId = $(this).val();
            var selectedLibraryBookModalId = "#edit-library-book-modal-" + selectedLibraryBookId;

            $(selectedLibraryBookModalId).modal('show');
        });

        $('.edit-library-book-submit-btn').click(function () {

            var formId = $(this).val();

            var titleFieldVal = $('#library-book-title-' + formId).val();
            var authorFieldVal = $('#library-book-author-' + formId).val();
            var quantityFieldVal = $('#library-book-quantity-' + formId).val();

            if (titleFieldVal.length > 0 && authorFieldVal.length > 0 && quantityFieldVal.length > 0) {
                $('#edit-library-book-form-' + formId).submit();
            } else {
                alert('Error: Must Enter all fields');
            }
        });

        $('.rent-library-book-btn').click(function () {

            var selectedLibraryBookId = $(this).val();
            var selectedLibraryBookModalId = "#edit-library-book-rental-modal-" + selectedLibraryBookId;

            $(selectedLibraryBookModalId).modal('show');
        });

        $('.edit-library-book-rental-submit-btn').click(function () {

            var formId = $(this).val();

            var titleFieldVal = $('#library-book-title-' + formId).val();
            var authorFieldVal = $('#library-book-author-' + formId).val();
            var quantityFieldVal = $('#library-book-quantity-' + formId).val();

            if (titleFieldVal.length > 0 && authorFieldVal.length > 0 && quantityFieldVal.length > 0) {
                $('#edit-library-book-form-' + formId).submit();
            } else {
                alert('Error: Must Enter all fields');
            }
        });

        $('#new-book-rental-class').change(function () {

            var classId = $(this).val();
            var options = '<option selected>Select a student...</option>';

            $.when($.fn.getStudents(classId)).done(function (response) {

                $.each(response, function (i, obj) {
                    options += '<option value="' + obj.id + '">' + obj.name + '</option>';
                });

                $('#new-book-rental-student').html(options);
            });
        });


    });
</script>

}
